@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Noto+Serif&family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Mono&family=Roboto+Slab&display=swap');

div {
    .nav {
        width: 100%;

        nav {
            &.navbar-light {
                .navbar-brand {
                    p {
                        font-size: 11px;
                        color: #DB833A;
                        font-weight: bold;
                    }
                }

                .navbar-nav {
                    margin-left: auto;

                    li {
                        font-family: 'Roboto Condensed', sans-serif;
                        margin-left: 20px;

                        span {
                            color: #A9A9A9;
                            font-size: 15px;
                        }

                        .nav-link {
                            color: #A9A9A9;
                            font-weight: 400;
                            position: relative;

                            &.active {
                                // text-decoration: overline #DB833A;

                                color: #DB833A;

                                &::after {
                                    width: 18px;
                                    height: 1px;
                                    position: absolute;
                                    top: 0.5em;
                                    left: 0.5em;

                                    border: 1px solid #DB833A;
                                    background-color: #DB833A;
                                    content: "";

                                }

                            }
                        }
                    }

                    form {
                        span {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .home {
        // height: 100vh;
        margin-top: 6.8em;

        @media screen and (max-width:1000px) {
            margin-top: 0;
        }

        .content {
            padding-left: 80px;

            @media screen and (max-width:1000px) {
                padding-left: 0;
            }

            h1 {
                color: #F0791B;
                font-size: 3em;
                margin-top: 2em;
                font-family: 'Merriweather', serif;
            }

            p {
                font-size: 22px;
                font-family: 'Open Sans Condensed', sans-serif;
                color: #8D8D8D;
            }

            .btn {
                &.btn-color {
                    background-color: #F27817;
                    text-transform: capitalize;
                    color: #ffff;
                    border-radius: 20px;
                    font-size: 12px;

                    &:hover {
                        background-color: #DB833A;
                    }
                }
            }
        }

    }

    .signature {
        position: relative;
        margin-top: 8em;


        p {

            @extend %paragraph;

            &.bookmark {
                position: absolute;
                color: #FCF0E4;
                font-size: 8em;
                text-transform: uppercase;

                top: 3.3em;
                right: 0;
                font-family: 'Crimson Text', serif;
            }

        }

        h3 {
            @extend %heading;

        }

        .card {
            border: 10px #ffff;
            border-radius: 0;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 15px;
            box-shadow: 0.2px 0.2px 18px #CCCDD1;

            .card-img-top {
                height: 260px;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }

            .card-text {
                text-transform: capitalize;
                font-size: 18px;
            }
        }
    }

    .happiness {
        position: relative;
        margin-top: 8em;

        .img-fluid {
            position: absolute;
            right: 0;
            top: 20em;
        }

        h3 {
            @extend %heading
        }

        p {

            @extend %paragraph;

            &.bookmark {
                position: absolute;
                top: 3.2em;
                left: 0.3em;
                color: #FCF0E4;
                font-size: 8em;
                text-transform: uppercase;

                font-family: 'Crimson Text', serif;
            }
        }

        .card {
            border: 10px #ffff;
            border-radius: 0;

            box-shadow: 0.2px 0.2px 18px #CCCDD1;

            .card-img-top {
                border-radius: 0;

            }

            .card-title {
                color: #DB833A;

                text-transform: capitalize;
                font-family: 'Crimson Text', serif;

            }

            .card-text {
                text-transform: capitalize;
                font-size: 11px;
                line-height: 1.5em;
                font-family: 'Almarai', sans-serif;
            }
        }
    }

    .meun {
        position: relative;
        margin-top: 8em;


        img {
            &.broccoli {
                position: absolute;
                z-index: -1;
                top: 20em;
            }
        }

        h3 {
            @extend %heading;
        }

        .carousel-control-next {
            position: absolute;
            top: 38em;

            @media screen and (max-width:1000px) {
                top: 0;
            }

        }

        .carousel-control-prev {
            position: absolute;
            top: 38em;
            left: 45em;

            @media screen and (max-width:1000px) {
                top: 0;
                left: 0;
            }

        }

        p {
            @extend %paragraph;

            &.bookmark {
                position: absolute;
                color: #FCF0E4;
                font-size: 8em;
                text-transform: uppercase;

                top: 5.2em;
                right: 0;
                font-family: 'Crimson Text', serif;
            }
        }

        .arrowdown {
            cursor: pointer;
        }

        .nav-pills {
            button {
                margin-top: 0.5em;
                color: #D3C1B5;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;


                &.nav-link {

                    &.active,
                    &:hover {
                        background-color: #F1791A;
                        color: #ffff;
                        border-top-right-radius: 25px;
                        border-bottom-right-radius: 25px;
                    }
                }
            }




        }

        .card {
            border: 10px #ffff;
            border-radius: 0;
            border-bottom-left-radius: 25px;

            .card-img-top {
                height: 200px;

            }

            .card-body {
                background-color: #F1791A;
                border-bottom-left-radius: 25px;
                height: 50px;
                border-bottom-right-radius: 5px;


                .card-text {
                    color: #ffff;
                    text-transform: capitalize;
                    font-size: 13px;
                    font-family: 'Roboto Mono', monospace;
                    padding-left: 2em;


                }

                .price {
                    background-color: #9A4C0E;
                    margin-left: 0.9em;
                    height: 50px;
                    font-size: 11.9px;
                    border-bottom-right-radius: 5px;
                    font-family: 'Roboto Slab', serif;
                    color: #ffff;


                }
            }

        }
    }

    .quotes {
        margin-top: 8em;
        position: relative;

        h3 {
            @extend %heading;
        }

        p {
            @extend %paragraph;

            &.bookmark {
                position: absolute;
                color: #FCF0E4;
                font-size: 8em;
                text-transform: uppercase;

                top: 3.6em;
                left: 0;
                font-family: 'Crimson Text', serif;
            }
        }

        .pic {
            position: relative;
            height: 70vh;


            img {
                &.person1 {
                    margin-top: 2em;

                    @media screen and (max-width:1000px) {
                        margin-top: 0;
                    }
                }

                &.person2 {
                    position: absolute;
                    top: 0.5em;
                    right: 5em;
                }

                &.person3 {
                    position: absolute;
                    top: 23.5em;
                    left: 1.4em;
                }
            }
        }

        span {
            &.quoteIcon {
                font-size: 40px;
                color: #DB833A;
            }
        }

        .carousel-item {
            p {
                line-height: 1em;
                font-size: 13px;
                font-family: 'Roboto Slab', serif;
                color: #8D8D8D;

                &.name {
                    font-size: 18px;
                }
            }
        }

        .carousel-control-next {
            position: absolute;
            top: 11em;
            bottom: 0;

        }

        .carousel-control-prev {
            top: 11em;
            bottom: 0;
            left: 24em;

        }


    }

    .book {


        h3 {
            @extend %heading;
        }

        p {
            @extend %paragraph
        }

        .btn {
            background-image: linear-gradient(to right, #F04F01, #E5780F);
            color: #ffff;
            text-transform: capitalize;
            border-radius: 25px;
        }
    }

    footer {
        margin-top: 8em;
        position: relative;
        color: #7a7a7a;

        img {
            &.footerimg {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: -1;
            }

        }

        p {
            &.logo {
                font-size: 11px;
                color: #DB833A;
                font-weight: bold;
            }
        }

        ul {
            list-style: none;
            color: #7a7a7a;

            &.info {

                li {
                    margin-top: 5px;
                    font-weight: bold;
                    font-size: 13px;

                }
            }

            li {
                margin-top: 30px;
                font-size: 18px;

                &.icon {
                    border: 1px solid #DB833A;
                    height: 50px;
                    margin-left: 5px;

                }

                a {
                    color: #DB833A;

                    &:hover {
                        color: #F04F01;
                    }
                }
            }
        }
    }


}

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    --scrollbarBG: #ffff;
    --thumbBG: #DB833A;
}

body::-webkit-scrollbar {
    width: 8px;
}

body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);

}


%heading {
    color: #F0791B;
    text-transform: capitalize;
    font-family: 'Merriweather', serif;
}

%paragraph {
    font-size: 22px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #000000;
    line-height: 1em;
}