@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Noto+Serif&family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Mono&family=Roboto+Slab&display=swap");
div .nav {
  width: 100%;
}
div .nav nav.navbar-light .navbar-brand p {
  font-size: 11px;
  color: #DB833A;
  font-weight: bold;
}
div .nav nav.navbar-light .navbar-nav {
  margin-left: auto;
}
div .nav nav.navbar-light .navbar-nav li {
  font-family: "Roboto Condensed", sans-serif;
  margin-left: 20px;
}
div .nav nav.navbar-light .navbar-nav li span {
  color: #A9A9A9;
  font-size: 15px;
}
div .nav nav.navbar-light .navbar-nav li .nav-link {
  color: #A9A9A9;
  font-weight: 400;
  position: relative;
}
div .nav nav.navbar-light .navbar-nav li .nav-link.active {
  color: #DB833A;
}
div .nav nav.navbar-light .navbar-nav li .nav-link.active::after {
  width: 18px;
  height: 1px;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  border: 1px solid #DB833A;
  background-color: #DB833A;
  content: "";
}
div .nav nav.navbar-light .navbar-nav form span {
  cursor: pointer;
}
div .home {
  margin-top: 6.8em;
}
@media screen and (max-width: 1000px) {
  div .home {
    margin-top: 0;
  }
}
div .home .content {
  padding-left: 80px;
}
@media screen and (max-width: 1000px) {
  div .home .content {
    padding-left: 0;
  }
}
div .home .content h1 {
  color: #F0791B;
  font-size: 3em;
  margin-top: 2em;
  font-family: "Merriweather", serif;
}
div .home .content p {
  font-size: 22px;
  font-family: "Open Sans Condensed", sans-serif;
  color: #8D8D8D;
}
div .home .content .btn.btn-color {
  background-color: #F27817;
  text-transform: capitalize;
  color: #ffff;
  border-radius: 20px;
  font-size: 12px;
}
div .home .content .btn.btn-color:hover {
  background-color: #DB833A;
}
div .signature {
  position: relative;
  margin-top: 8em;
}
div .signature p.bookmark {
  position: absolute;
  color: #FCF0E4;
  font-size: 8em;
  text-transform: uppercase;
  top: 3.3em;
  right: 0;
  font-family: "Crimson Text", serif;
}
div .signature .card {
  border: 10px #ffff;
  border-radius: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0.2px 0.2px 18px #CCCDD1;
}
div .signature .card .card-img-top {
  height: 260px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
div .signature .card .card-text {
  text-transform: capitalize;
  font-size: 18px;
}
div .happiness {
  position: relative;
  margin-top: 8em;
}
div .happiness .img-fluid {
  position: absolute;
  right: 0;
  top: 20em;
}
div .happiness p.bookmark {
  position: absolute;
  top: 3.2em;
  left: 0.3em;
  color: #FCF0E4;
  font-size: 8em;
  text-transform: uppercase;
  font-family: "Crimson Text", serif;
}
div .happiness .card {
  border: 10px #ffff;
  border-radius: 0;
  box-shadow: 0.2px 0.2px 18px #CCCDD1;
}
div .happiness .card .card-img-top {
  border-radius: 0;
}
div .happiness .card .card-title {
  color: #DB833A;
  text-transform: capitalize;
  font-family: "Crimson Text", serif;
}
div .happiness .card .card-text {
  text-transform: capitalize;
  font-size: 11px;
  line-height: 1.5em;
  font-family: "Almarai", sans-serif;
}
div .meun {
  position: relative;
  margin-top: 8em;
}
div .meun img.broccoli {
  position: absolute;
  z-index: -1;
  top: 20em;
}
div .meun .carousel-control-next {
  position: absolute;
  top: 38em;
}
@media screen and (max-width: 1000px) {
  div .meun .carousel-control-next {
    top: 0;
  }
}
div .meun .carousel-control-prev {
  position: absolute;
  top: 38em;
  left: 45em;
}
@media screen and (max-width: 1000px) {
  div .meun .carousel-control-prev {
    top: 0;
    left: 0;
  }
}
div .meun p.bookmark {
  position: absolute;
  color: #FCF0E4;
  font-size: 8em;
  text-transform: uppercase;
  top: 5.2em;
  right: 0;
  font-family: "Crimson Text", serif;
}
div .meun .arrowdown {
  cursor: pointer;
}
div .meun .nav-pills button {
  margin-top: 0.5em;
  color: #D3C1B5;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
div .meun .nav-pills button.nav-link.active, div .meun .nav-pills button.nav-link:hover {
  background-color: #F1791A;
  color: #ffff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
div .meun .card {
  border: 10px #ffff;
  border-radius: 0;
  border-bottom-left-radius: 25px;
}
div .meun .card .card-img-top {
  height: 200px;
}
div .meun .card .card-body {
  background-color: #F1791A;
  border-bottom-left-radius: 25px;
  height: 50px;
  border-bottom-right-radius: 5px;
}
div .meun .card .card-body .card-text {
  color: #ffff;
  text-transform: capitalize;
  font-size: 13px;
  font-family: "Roboto Mono", monospace;
  padding-left: 2em;
}
div .meun .card .card-body .price {
  background-color: #9A4C0E;
  margin-left: 0.9em;
  height: 50px;
  font-size: 11.9px;
  border-bottom-right-radius: 5px;
  font-family: "Roboto Slab", serif;
  color: #ffff;
}
div .quotes {
  margin-top: 8em;
  position: relative;
}
div .quotes p.bookmark {
  position: absolute;
  color: #FCF0E4;
  font-size: 8em;
  text-transform: uppercase;
  top: 3.6em;
  left: 0;
  font-family: "Crimson Text", serif;
}
div .quotes .pic {
  position: relative;
  height: 70vh;
}
div .quotes .pic img.person1 {
  margin-top: 2em;
}
@media screen and (max-width: 1000px) {
  div .quotes .pic img.person1 {
    margin-top: 0;
  }
}
div .quotes .pic img.person2 {
  position: absolute;
  top: 0.5em;
  right: 5em;
}
div .quotes .pic img.person3 {
  position: absolute;
  top: 23.5em;
  left: 1.4em;
}
div .quotes span.quoteIcon {
  font-size: 40px;
  color: #DB833A;
}
div .quotes .carousel-item p {
  line-height: 1em;
  font-size: 13px;
  font-family: "Roboto Slab", serif;
  color: #8D8D8D;
}
div .quotes .carousel-item p.name {
  font-size: 18px;
}
div .quotes .carousel-control-next {
  position: absolute;
  top: 11em;
  bottom: 0;
}
div .quotes .carousel-control-prev {
  top: 11em;
  bottom: 0;
  left: 24em;
}
div .book .btn {
  background-image: linear-gradient(to right, #F04F01, #E5780F);
  color: #ffff;
  text-transform: capitalize;
  border-radius: 25px;
}
div footer {
  margin-top: 8em;
  position: relative;
  color: #7a7a7a;
}
div footer img.footerimg {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
div footer p.logo {
  font-size: 11px;
  color: #DB833A;
  font-weight: bold;
}
div footer ul {
  list-style: none;
  color: #7a7a7a;
}
div footer ul.info li {
  margin-top: 5px;
  font-weight: bold;
  font-size: 13px;
}
div footer ul li {
  margin-top: 30px;
  font-size: 18px;
}
div footer ul li.icon {
  border: 1px solid #DB833A;
  height: 50px;
  margin-left: 5px;
}
div footer ul li a {
  color: #DB833A;
}
div footer ul li a:hover {
  color: #F04F01;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  --scrollbarBG: #ffff;
  --thumbBG: #DB833A;
}

body::-webkit-scrollbar {
  width: 8px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
}

div .signature h3, div .happiness h3, div .meun h3, div .quotes h3, div .book h3 {
  color: #F0791B;
  text-transform: capitalize;
  font-family: "Merriweather", serif;
}

div .signature p, div .happiness p, div .meun p, div .quotes p, div .book p {
  font-size: 22px;
  font-family: "Open Sans Condensed", sans-serif;
  color: #000000;
  line-height: 1em;
}

/*# sourceMappingURL=style.css.map */
