<template>
  <div style="overflow-x: hidden; overflow-y: hidden">
    <!-- start nav section -->
    <div class="fixed-top nav">
      <nav class="navbar navbar-expand-lg navbar-light container">
        <a class="navbar-brand d-block" href="#home"
          ><img src="@/images/logo.png" alt="logo" />
          <p>On Fire</p>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item ml-auto">
              <a class="nav-link active" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#receipes">Receipes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#meun">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Contact">Contact Us</a>
            </li>
            <li>
              <form class="d-flex">
                <input
                  class="form-control mr-2"
                  data-aos="fade-left"
                  data-aos-delay="50"
                  data-aos-duration="1000"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                  v-if="show"
                />
                <span @click="show = !show" class="mt-2"
                  ><i class="fas fa-search"></i
                ></span>
              </form>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- start home section -->
    <section id="home" class="home container-fluid pr-0 mr-0 page mb-5">
      <div class="row">
        <div class="col-lg-6 col-md-12 content mb-5">
          <h1
            class="text-capitalize ml-5"
            data-aos="fade-right"
            data-aos-delay="50"
            data-aos-duration="2000"
          >
            best cuisine <br />
            in your area
          </h1>
          <p class="ml-5">
            Restaurant are classified or distinguished <br />
            in many different ways.
          </p>
          <button class="px-4 btn btn-color ml-5">order now</button>
        </div>
        <div class="col-lg-6 col-md-12 p-0">
          <img src="@/images/home.png" class="img-fluid" alt="home" />
        </div>
      </div>
    </section>
    <!-- start signaturs section -->
    <section class="signature page" id="receipes">
      <p class="bookmark d-none d-xl-block">signature</p>
      <div class="container">
        <h3 class="mb-4">signature items</h3>
        <p>
          Restaurant are classified or distinguished in many different ways.
        </p>
        <p>
          It is usually of plant or animal origin, and contains essential
          natrients.
        </p>
        <div class="row mt-5">
          <div
            class="col-lg-4 col-md-12 mb-3"
            data-aos="fade-right"
            data-aos-delay="50"
            data-aos-duration="2000"
          >
            <div class="card" style="width: 18rem">
              <img
                src="@/images/pic1.png"
                class="card-img-top"
                alt="Ramen Noodles "
              />
              <div class="card-body">
                <p class="card-text text-center">
                  ramen noodles
                  <img src="@/images/arrow.png" class="mb-1" alt="arrow" />
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 col-md-12 mb-3"
            data-aos="fade-down"
            data-aos-delay="50"
            data-aos-duration="2000"
          >
            <div class="card" style="width: 18rem">
              <img
                src="@/images/pic2.png"
                class="card-img-top"
                alt="Chicken Veggie "
              />
              <div class="card-body">
                <p class="card-text text-center">
                  chicken veggie
                  <img src="@/images/arrow.png" class="mb-1" alt="arrow" />
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 col-md-12 mb-3"
            data-aos="fade-left"
            data-aos-delay="50"
            data-aos-duration="2000"
          >
            <div class="card" style="width: 18rem">
              <img
                src="@/images/pic3.png"
                class="card-img-top"
                alt="Persaman Plate"
              />
              <div class="card-body">
                <p class="card-text text-center">
                  persaman plate
                  <img src="@/images/arrow.png" class="mb-1" alt="arrow" />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- start happiness section -->
    <section class="happiness mb-5">
      <p class="bookmark d-none d-xl-block">happiness</p>
      <div>
        <img
          src="@/images/chef.png"
          class="img-fluid d-none d-xl-block"
          alt="chef"
        />
      </div>
      <div class="container">
        <h3 class="mb-4">we serve happiness</h3>
        <p>
          Restaurant are classified or distinguished in many different ways.
        </p>
        <p>
          It is usually of plant or animal origin, and contains essential
          natrients.
        </p>
        <div class="row mt-5">
          <div
            class="col-lg-4 col-md-12 mt-3"
            data-aos="fade-right"
            data-aos-delay="50"
            data-aos-duration="2000"
          >
            <div class="card" style="width: 18rem">
              <img
                src="@/images/indian.jpg"
                class="card-img-top"
                alt="indian"
              />
              <div class="card-body pt-0">
                <h5 class="card-title text-center">indian foods</h5>
                <p class="card-text text-center">
                  Many Indian dishes are cooked <br />
                  in vegetable oil, but peanut oil is <br />
                  popular in northern and western India.
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 col-md-12 mt-3"
            data-aos="fade-down"
            data-aos-delay="50"
            data-aos-duration="2000"
          >
            <div class="card" style="width: 18rem">
              <img src="@/images/thai.jpg" class="card-img-top" alt="thai" />
              <div class="card-body pt-0">
                <h5 class="card-title text-center">thai items</h5>
                <p class="card-text text-center">
                  Thai food is known for its enthusiastic use <br />
                  of fresh herbs and spices.Common flavors <br />
                  in Thai food come from garlic,
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 col-md-12 mt-3"
            data-aos="fade-left"
            data-aos-delay="50"
            data-aos-duration="2000"
          >
            <div class="card" style="width: 18rem">
              <img
                src="@/images/Italian.jpg"
                class="card-img-top"
                alt="italian"
              />
              <div class="card-body pt-0">
                <h5 class="card-title text-center">Italian Cuisine</h5>
                <p class="card-text text-center">
                  Italian cuisine is food typical of Italy.<br />
                  Italian cuisine is generally characterized by <br />
                  its simplicity
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5 justify-content-center pt-3">
          <div
            class="col-lg-4 col-md-12 mt-3"
            data-aos="fade-right"
            data-aos-delay="50"
            data-aos-duration="2000"
          >
            <div class="card" style="width: 18rem">
              <img
                src="@/images/drinks.jpg"
                class="card-img-top mt-3"
                alt="drinks"
              />
              <div class="card-body pt-0">
                <h5 class="card-title text-center">Drinks</h5>
                <p class="card-text text-center">
                  Many Indian dishes are cooked <br />
                  in vegetable oil, but peanut oil is <br />
                  popular in northern and western India.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 mt-3">
            <div
              class="card"
              style="width: 18rem"
              data-aos="fade-left"
              data-aos-delay="50"
              data-aos-duration="2000"
            >
              <img
                src="@/images/buffet.jpg"
                class="card-img-top"
                alt="buffet"
              />
              <div class="card-body pt-0">
                <h5 class="card-title text-center">Buffet</h5>
                <p class="card-text text-center">
                  Many Indian dishes are cooked <br />
                  in vegetable oil, but peanut oil is <br />
                  popular in northern and western India.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- start meun section -->
    <section class="meun mb-5 page" id="meun">
      <img
        src="@/images/broccoli.png"
        class="broccoli d-none d-xl-block"
        alt="broccoli"
      />
      <p class="bookmark d-none d-xl-block">delicious</p>
      <div class="container">
        <h3 class="mb-4">taste those items</h3>
        <p>
          Restaurant are classified or distinguished in many different ways.
        </p>
        <p>
          It is usually of plant or animal origin, and contains essential
          natrients.
        </p>
        <div class="row mt-5 mb-5">
          <div class="col-lg-2 col-md-12">
            <div class="row">
              <div
                v-if="showMeun"
                data-aos="fade-down"
                data-aos-delay="50"
                data-aos-duration="2000"
                class="nav flex-column nav-pills me-3 col-12"
                id="v-pills-tab"
                role="tablist"
                aria-orientation="vertical"
              >
                <button
                  class="nav-link active"
                  id="v-pills-Breakfast-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#v-pills-Breakfast"
                  type="button"
                  role="tab"
                  aria-controls="v-pills-Breakfast"
                  aria-selected="true"
                >
                  Breakfast
                </button>
                <button
                  class="nav-link"
                  id="v-pills-Lunch-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#v-pills-Lunch"
                  type="button"
                  role="tab"
                  aria-controls="v-pills-Lunch"
                  aria-selected="false"
                >
                  Lunch
                </button>
                <button
                  class="nav-link"
                  id="v-pills-Dinner-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#v-pills-Dinner"
                  type="button"
                  role="tab"
                  aria-controls="v-pills-Dinner"
                  aria-selected="false"
                >
                  Dinner
                </button>
                <button
                  class="nav-link"
                  id="v-pills-Buffet-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#v-pills-Buffet"
                  type="button"
                  role="tab"
                  aria-controls="v-pills-Buffet"
                  aria-selected="false"
                >
                  Buffet
                </button>
              </div>
              <div class="col-12">
                <span
                  @click="showMeun = !showMeun"
                  class="d-flex justify-content-center mt-3 arrowdown"
                  ><i class="fas fa-chevron-down"></i
                ></span>
              </div>
            </div>
          </div>
          <div class="tab-content col-10" id="myTabContent">
            <div class="tab-content" id="v-pills-tabContent">
              <div
                class="tab-pane fade show active"
                id="v-pills-Breakfast"
                role="tabpanel"
                aria-labelledby="v-pills-Breakfast-tab"
              >
                <div
                  id="meunslider"
                  class="carousel slide"
                  data-interval="false"
                >
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="row">
                        <div class="col-lg-4 col-md-12 mb-2">
                          <div class="card" style="width: 16rem">
                            <img
                              src="@/images/pic3.png"
                              class="card-img-top"
                              alt="bowl"
                            />
                            <div class="card-body p-0 pl-3">
                              <div class="row">
                                <p class="card-text col-8 pt-3 pb-3">
                                  spicy bowl
                                  <img
                                    src="@/images/whiteArrow.png"
                                    alt="whiteArrow"
                                  />
                                </p>
                                <p class="price col-3 p-3">12.00$</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-12 mb-2">
                          <div class="card" style="width: 16rem">
                            <img
                              src="@/images/food1.jpg"
                              class="card-img-top"
                              alt="creamie"
                            />
                            <div class="card-body p-0 pl-3">
                              <div class="row">
                                <p class="card-text col-8 pt-3 pb-3">
                                  creamie spice
                                  <img
                                    src="@/images/whiteArrow.png"
                                    alt="whiteArrow"
                                  />
                                </p>
                                <p class="price col-3 p-3">10.00$</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-12 mb-2">
                          <div class="card" style="width: 16rem">
                            <img
                              src="@/images/food2.jpg"
                              class="card-img-top"
                              alt="green salad"
                            />
                            <div class="card-body p-0 pl-3">
                              <div class="row">
                                <p class="card-text col-8 pt-3 pb-3">
                                  green salad
                                  <img
                                    src="@/images/whiteArrow.png"
                                    alt="whiteArrow"
                                  />
                                </p>
                                <p class="price col-3 p-3">18.00$</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mt-5">
                        <div class="col-lg-4 col-md-12 mb-2">
                          <div class="card" style="width: 16rem">
                            <img
                              src="@/images/food4.jpg"
                              class="card-img-top"
                              alt="jumboo burger"
                            />

                            <div class="card-body p-0 pl-3">
                              <div class="row">
                                <p class="card-text col-8 pt-3 pb-3">
                                  jumboo burger
                                  <img
                                    src="@/images/whiteArrow.png"
                                    alt="whiteArrow"
                                  />
                                </p>
                                <p class="price col-3 p-3">10.00$</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-12 mb-2">
                          <div class="card" style="width: 16rem">
                            <img
                              src="@/images/pic1.png"
                              class="card-img-top"
                              alt=" healthy salmon"
                            />
                            <div class="card-body p-0 pl-3">
                              <div class="row">
                                <p class="card-text col-8 pt-3 pb-3">
                                  healthy salmon
                                  <img
                                    src="@/images/whiteArrow.png"
                                    alt="whiteArrow"
                                  />
                                </p>
                                <p class="price col-3 p-3">28.00$</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-12 mb-2">
                          <div class="card" style="width: 16rem">
                            <img
                              src="@/images/pic2.png"
                              class="card-img-top"
                              alt=" shrimp pasta"
                            />
                            <div class="card-body p-0 pl-3">
                              <div class="row">
                                <p class="card-text col-8 pt-3 pb-3">
                                  shrimp pasta
                                  <img
                                    src="@/images/whiteArrow.png"
                                    alt="whiteArrow"
                                  />
                                </p>
                                <p class="price col-3 p-3">23.00$</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="row">
                        <div class="col-lg-4 col-md-12 mb-2">
                          <div class="card" style="width: 16rem">
                            <img
                              src="@/images/pic3.png"
                              class="card-img-top"
                              alt="bowl"
                            />
                            <div class="card-body p-0 pl-3">
                              <div class="row">
                                <p class="card-text col-8 pt-3 pb-3">
                                  spicy bowl
                                  <img
                                    src="@/images/whiteArrow.png"
                                    alt="whiteArrow"
                                  />
                                </p>
                                <p class="price col-3 p-3">12.00$</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-12 mb-2">
                          <div class="card" style="width: 16rem">
                            <img
                              src="@/images/food1.jpg"
                              class="card-img-top"
                              alt="bowl"
                            />
                            <div class="card-body p-0 pl-3">
                              <div class="row">
                                <p class="card-text col-8 pt-3 pb-3">
                                  creamie spice
                                  <img
                                    src="@/images/whiteArrow.png"
                                    alt="whiteArrow"
                                  />
                                </p>
                                <p class="price col-3 p-3">10.00$</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-12 mb-2">
                          <div class="card" style="width: 16rem">
                            <img
                              src="@/images/food2.jpg"
                              class="card-img-top"
                              alt="bowl"
                            />
                            <div class="card-body p-0 pl-3">
                              <div class="row">
                                <p class="card-text col-8 pt-3 pb-3">
                                  green salad
                                  <img
                                    src="@/images/whiteArrow.png"
                                    alt="whiteArrow"
                                  />
                                </p>
                                <p class="price col-3 p-3">18.00$</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mt-5">
                        <div class="col-lg-4 col-md-12 mb-2">
                          <div class="card" style="width: 16rem">
                            <img
                              src="@/images/food4.jpg"
                              class="card-img-top"
                              alt="bowl"
                            />

                            <div class="card-body p-0 pl-3">
                              <div class="row">
                                <p class="card-text col-8 pt-3 pb-3">
                                  jumboo burger
                                  <img
                                    src="@/images/whiteArrow.png"
                                    alt="whiteArrow"
                                  />
                                </p>
                                <p class="price col-3 p-3">10.00$</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-12 mb-2">
                          <div class="card" style="width: 16rem">
                            <img
                              src="@/images/pic1.png"
                              class="card-img-top"
                              alt="bowl"
                            />
                            <div class="card-body p-0 pl-3">
                              <div class="row">
                                <p class="card-text col-8 pt-3 pb-3">
                                  healthy salmon
                                  <img
                                    src="@/images/whiteArrow.png"
                                    alt="whiteArrow"
                                  />
                                </p>
                                <p class="price col-3 p-3">28.00$</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-12 mb-2">
                          <div class="card" style="width: 16rem">
                            <img
                              src="@/images/pic2.png"
                              class="card-img-top"
                              alt="bowl"
                            />
                            <div class="card-body p-0 pl-3">
                              <div class="row">
                                <p class="card-text col-8 pt-3 pb-3">
                                  shrimp pasta
                                  <img
                                    src="@/images/whiteArrow.png"
                                    alt="whiteArrow"
                                  />
                                </p>
                                <p class="price col-3 p-3">23.00$</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button
                    class="carousel-control-prev"
                    type="button"
                    data-bs-target="#meunslider"
                    data-bs-slide="prev"
                  >
                    <img src="@/images/pre.png" aria-hidden="true" />
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button
                    class="carousel-control-next"
                    type="button"
                    data-bs-target="#meunslider"
                    data-bs-slide="next"
                  >
                    <img src="@/images/next.png" aria-hidden="true" />
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="v-pills-Lunch"
                role="tabpanel"
                aria-labelledby="v-pills-Lunch-tab"
              >
                <div class="row">
                  <div class="col-lg-4 col-md-12 mb-2">
                    <div class="card" style="width: 16rem">
                      <img
                        src="@/images/food4.jpg"
                        class="card-img-top"
                        alt="jumboo burger"
                      />

                      <div class="card-body p-0 pl-3">
                        <div class="row">
                          <p class="card-text col-8 pt-3 pb-3">
                            jumboo burger
                            <img
                              src="@/images/whiteArrow.png"
                              alt="whiteArrow"
                            />
                          </p>
                          <p class="price col-3 p-3">10.00$</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12 mb-2">
                    <div class="card" style="width: 16rem">
                      <img
                        src="@/images/pic1.png"
                        class="card-img-top"
                        alt="healthy salmon"
                      />
                      <div class="card-body p-0 pl-3">
                        <div class="row">
                          <p class="card-text col-8 pt-3 pb-3">
                            healthy salmon
                            <img
                              src="@/images/whiteArrow.png"
                              alt="whiteArrow"
                            />
                          </p>
                          <p class="price col-3 p-3">28.00$</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12 mb-2">
                    <div class="card" style="width: 16rem">
                      <img
                        src="@/images/pic2.png"
                        class="card-img-top"
                        alt="shrimp pasta"
                      />
                      <div class="card-body p-0 pl-3">
                        <div class="row">
                          <p class="card-text col-8 pt-3 pb-3">
                            shrimp pasta
                            <img
                              src="@/images/whiteArrow.png"
                              alt="whiteArrow"
                            />
                          </p>
                          <p class="price col-3 p-3">23.00$</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col-lg-4 col-md-12 mb-2">
                    <div class="card" style="width: 16rem">
                      <img
                        src="@/images/pic3.png"
                        class="card-img-top"
                        alt="spicy bowl"
                      />
                      <div class="card-body p-0 pl-3">
                        <div class="row">
                          <p class="card-text col-8 pt-3 pb-3">
                            spicy bowl
                            <img
                              src="@/images/whiteArrow.png"
                              alt="whiteArrow"
                            />
                          </p>
                          <p class="price col-3 p-3">12.00$</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12 mb-2">
                    <div class="card" style="width: 16rem">
                      <img
                        src="@/images/food1.jpg"
                        class="card-img-top"
                        alt="creamie spice"
                      />
                      <div class="card-body p-0 pl-3">
                        <div class="row">
                          <p class="card-text col-8 pt-3 pb-3">
                            creamie spice
                            <img
                              src="@/images/whiteArrow.png"
                              alt="whiteArrow"
                            />
                          </p>
                          <p class="price col-3 p-3">10.00$</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12 mb-2">
                    <div class="card" style="width: 16rem">
                      <img
                        src="@/images/food2.jpg"
                        class="card-img-top"
                        alt="green salad"
                      />
                      <div class="card-body p-0 pl-3">
                        <div class="row">
                          <p class="card-text col-8 pt-3 pb-3">
                            green salad
                            <img
                              src="@/images/whiteArrow.png"
                              alt="whiteArrow"
                            />
                          </p>
                          <p class="price col-3 p-3">18.00$</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="v-pills-Dinner"
                role="tabpanel"
                aria-labelledby="v-pills-Dinner-tab"
              >
                <div class="row">
                  <div class="col-lg-4 col-md-12 mb-2">
                    <div class="card" style="width: 16rem">
                      <img
                        src="@/images/pic3.png"
                        class="card-img-top"
                        alt="bowl"
                      />
                      <div class="card-body p-0 pl-3">
                        <div class="row">
                          <p class="card-text col-8 pt-3 pb-3">
                            spicy bowl
                            <img
                              src="@/images/whiteArrow.png"
                              alt="whiteArrow"
                            />
                          </p>
                          <p class="price col-3 p-3">12.00$</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12 mb-2">
                    <div class="card" style="width: 16rem">
                      <img
                        src="@/images/food1.jpg"
                        class="card-img-top"
                        alt="bowl"
                      />
                      <div class="card-body p-0 pl-3">
                        <div class="row">
                          <p class="card-text col-8 pt-3 pb-3">
                            creamie spice
                            <img
                              src="@/images/whiteArrow.png"
                              alt="whiteArrow"
                            />
                          </p>
                          <p class="price col-3 p-3">10.00$</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12 mb-2">
                    <div class="card" style="width: 16rem">
                      <img
                        src="@/images/food2.jpg"
                        class="card-img-top"
                        alt="bowl"
                      />
                      <div class="card-body p-0 pl-3">
                        <div class="row">
                          <p class="card-text col-8 pt-3 pb-3">
                            green salad
                            <img
                              src="@/images/whiteArrow.png"
                              alt="whiteArrow"
                            />
                          </p>
                          <p class="price col-3 p-3">18.00$</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col-lg-4 col-md-12 mb-2">
                    <div class="card" style="width: 16rem">
                      <img
                        src="@/images/food4.jpg"
                        class="card-img-top"
                        alt="bowl"
                      />

                      <div class="card-body p-0 pl-3">
                        <div class="row">
                          <p class="card-text col-8 pt-3 pb-3">
                            jumboo burger
                            <img
                              src="@/images/whiteArrow.png"
                              alt="whiteArrow"
                            />
                          </p>
                          <p class="price col-3 p-3">10.00$</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12 mb-2">
                    <div class="card" style="width: 16rem">
                      <img
                        src="@/images/pic1.png"
                        class="card-img-top"
                        alt="bowl"
                      />
                      <div class="card-body p-0 pl-3">
                        <div class="row">
                          <p class="card-text col-8 pt-3 pb-3">
                            healthy salmon
                            <img
                              src="@/images/whiteArrow.png"
                              alt="whiteArrow"
                            />
                          </p>
                          <p class="price col-3 p-3">28.00$</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12 mb-2">
                    <div class="card" style="width: 16rem">
                      <img
                        src="@/images/pic2.png"
                        class="card-img-top"
                        alt="bowl"
                      />
                      <div class="card-body p-0 pl-3">
                        <div class="row">
                          <p class="card-text col-8 pt-3 pb-3">
                            shrimp pasta
                            <img
                              src="@/images/whiteArrow.png"
                              alt="whiteArrow"
                            />
                          </p>
                          <p class="price col-3 p-3">23.00$</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="v-pills-Buffet"
                role="tabpanel"
                aria-labelledby="v-pills-Buffet-tab"
              >
                <div class="row">
                  <div class="col-lg-4 col-md-12 mb-2">
                    <div class="card" style="width: 16rem">
                      <img
                        src="@/images/food4.jpg"
                        class="card-img-top"
                        alt="bowl"
                      />

                      <div class="card-body p-0 pl-3">
                        <div class="row">
                          <p class="card-text col-8 pt-3 pb-3">
                            jumboo burger
                            <img
                              src="@/images/whiteArrow.png"
                              alt="whiteArrow"
                            />
                          </p>
                          <p class="price col-3 p-3">10.00$</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12 mb-2">
                    <div class="card" style="width: 16rem">
                      <img
                        src="@/images/pic1.png"
                        class="card-img-top"
                        alt="bowl"
                      />
                      <div class="card-body p-0 pl-3">
                        <div class="row">
                          <p class="card-text col-8 pt-3 pb-3">
                            healthy salmon
                            <img
                              src="@/images/whiteArrow.png"
                              alt="whiteArrow"
                            />
                          </p>
                          <p class="price col-3 p-3">28.00$</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12 mb-2">
                    <div class="card" style="width: 16rem">
                      <img
                        src="@/images/pic2.png"
                        class="card-img-top"
                        alt="bowl"
                      />
                      <div class="card-body p-0 pl-3">
                        <div class="row">
                          <p class="card-text col-8 pt-3 pb-3">
                            shrimp pasta
                            <img
                              src="@/images/whiteArrow.png"
                              alt="whiteArrow"
                            />
                          </p>
                          <p class="price col-3 p-3">23.00$</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col-lg-4 col-md-12 mb-2">
                    <div class="card" style="width: 16rem">
                      <img
                        src="@/images/pic3.png"
                        class="card-img-top"
                        alt="bowl"
                      />
                      <div class="card-body p-0 pl-3">
                        <div class="row">
                          <p class="card-text col-8 pt-3 pb-3">
                            spicy bowl
                            <img
                              src="@/images/whiteArrow.png"
                              alt="whiteArrow"
                            />
                          </p>
                          <p class="price col-3 p-3">12.00$</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12 mb-2">
                    <div class="card" style="width: 16rem">
                      <img
                        src="@/images/food1.jpg"
                        class="card-img-top"
                        alt="bowl"
                      />
                      <div class="card-body p-0 pl-3">
                        <div class="row">
                          <p class="card-text col-8 pt-3 pb-3">
                            creamie spice
                            <img
                              src="@/images/whiteArrow.png"
                              alt="whiteArrow"
                            />
                          </p>
                          <p class="price col-3 p-3">10.00$</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12 mb-2">
                    <div class="card" style="width: 16rem">
                      <img
                        src="@/images/food2.jpg"
                        class="card-img-top"
                        alt="bowl"
                      />
                      <div class="card-body p-0 pl-3">
                        <div class="row">
                          <p class="card-text col-8 pt-3 pb-3">
                            green salad
                            <img
                              src="@/images/whiteArrow.png"
                              alt="whiteArrow"
                            />
                          </p>
                          <p class="price col-3 p-3">18.00$</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- start quotes section -->
    <section class="mb-5 quotes">
      <p class="bookmark d-none d-xl-block">quotes</p>
      <div class="container">
        <h3 class="mb-4">we love to get quotes</h3>
        <p>
          Restaurant are classified or distinguished in many different ways.
        </p>
        <p>
          It is usually of plant or animal origin, and contains essential
          natrients.
        </p>
        <div class="row">
          <div class="col-lg-6 col-md-12 pic">
            <img
              src="@/images/person.png"
              class="ml-lg-5 ml-md-0 person1"
              alt="person"
            />
            <img
              src="@/images/person3.png"
              class="ml-auto person2"
              alt="person"
            />
            <img
              src="@/images/person2.png"
              class="ml-auto person3"
              alt="person"
            />
          </div>
          <div class="col-lg-6 col-md-12 pt-lg-5 pt-md-0">
            <span class="quoteIcon"><i class="fas fa-quote-left"></i></span>
            <div
              id="carouselExampleControls"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <p>
                    Promise a story or surprise, such as "it may have taken a
                    while to
                  </p>
                  <p>
                    get to my mouth, but I've found the best paella on the
                    planet.
                  </p>
                  <p>
                    Make sure, however, that you deliver on the promise later!
                  </p>
                  <p class="pt-3 name">Saidur Rahman Munna</p>
                  <p>UX Product Designer</p>
                </div>
                <div class="carousel-item">
                  <p>
                    Promise a story or surprise, such as "it may have taken a
                    while to
                  </p>
                  <p>
                    get to my mouth, but I've found the best paella on the
                    planet.
                  </p>
                  <p>
                    Make sure, however, that you deliver on the promise later!
                  </p>
                  <p class="pt-3 name">Saidur Rahman Munna</p>
                  <p>UX Product Designer</p>
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide="prev"
              >
                <img src="@/images/pre.png" aria-hidden="true" />
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide="next"
              >
                <img src="@/images/next.png" aria-hidden="true" />
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- start book section -->
    <section class="book page" id="Contact">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-8 col-md-12 pt-5"
            data-aos="fade-right"
            data-aos-delay="50"
            data-aos-duration="2000"
          >
            <h3 class="mb-3 mt-5">
              don't forget <br />
              to book your table
            </h3>
            <p>
              Restaurant are classified or distinguished in many different ways.
            </p>
            <p>
              It is usually of plant or animal origin, and contains essential
              natrients.
            </p>
            <button class="btn px-5 mt-3">book now</button>
          </div>
          <div
            class="col-lg-4 col-md-12"
            data-aos="fade-left"
            data-aos-delay="50"
            data-aos-duration="2000"
          >
            <img src="@/images/family.png" alt="family" />
          </div>
        </div>
      </div>
    </section>
    <!-- start contact section -->
    <footer class="contact">
      <img
        src="@/images/footer.png"
        class="footerimg d-none d-xl-block"
        alt="footer"
      />
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="d-block">
              <img src="@/images/logo.png" alt="logo" />
              <p class="logo">on fire</p>
            </div>
            <ul class="info p-0">
              <li class="mt-5">West Zafrabad,</li>
              <li>Mohammadpur, Dhaka-1207</li>
              <li>Cell: 12222245454</li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6">
            <h5>Useful Links</h5>
            <ul class="p-0">
              <li>Home</li>
              <li>Recei</li>
              <li>Menu</li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6">
            <h5>Explore</h5>
            <ul class="p-0">
              <li>Buffet</li>
              <li>Special Menu</li>
              <li>Signature Items</li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6">
            <h5>Follow Us</h5>
            <ul class="p-0 row mt-4">
              <li
                class="col-2 rounded-circle icon d-flex justify-content-center align-items-center"
              >
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li
                class="col-2 rounded-circle icon d-flex justify-content-center align-items-center"
              >
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
              <li
                class="col-2 rounded-circle icon d-flex justify-content-center align-items-center"
              >
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <p class="d-flex justify-content-center copyright mt-3">
            &copy; - 2019 Antor paul
          </p>
        </div>
      </div>
    </footer>
  </div>
</template>
<script>
import $ from "jquery";

$(window)
  .scroll(function () {
    var scrollDistance = $(window).scrollTop();
    $(".page").each(function (i) {
      if ($(this).position().top <= scrollDistance) {
        $(".navbar-nav a.active").removeClass("active");
        $(".navbar-nav a").eq(i).addClass("active");
        $(".nav").css("background-color", "#ffffff");
      }
    });
  })
  .scroll();

export default {
  data() {
    return {
      show: false,
      showMeun: true,
    };
  },
};
</script>
